/*
Name: 
Date: 
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "references references references"
    "footer footer footer";
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    text-align: center;
    background-color: #1d428a;
    color: #fcfcfc;
    font-size: 1.5cm;
    font-family: 'Bebas Neue', cursive;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    padding-top: 49px;
    padding-right: 40px;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color: #c8102e;
    padding-left: 20px;
    padding-top: 20px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 1cm;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color: #1d428a;
    padding-left: 100px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 0.8cm;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    width: 100%;
}

.references{
   grid-area: references;
   background-color: #c8102e;
   text-align: center;
   color: #ffffff;
   font-family: 'Bebas Neue', cursive;
   font-size: 0.5cm;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color:#1d428a;
    color:#ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

img{
 width: 100%;
}