/*
Name: 
Date: 
*/

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "references references references"
    "footer footer footer";
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    text-align: center;
    background-color: #c8102f00;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color: #1d428a;
    padding-left: 20px;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color: #c8102e;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
}

.references{
   grid-area: references;
   background-color: #1d428a
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color:#c8102e
}

img{
 width: 110%;
}